<div id="birthday-container">
   <h1><b>Happy Birthday Arnab Da!!</b> </h1>
  <div class="d-flex flex-sm-row flex-column ">
      
    <div class="d-flex align-items-center flex-column">
      <figure class="blob blob-radius1 box loaded-left">
        <img  src="/assets/images/coder1.png"  alt="Card image cap"/>
        <figcaption></figcaption>
      </figure>
      <div style="animation: var(--animation-blink);"><b>I wish you could have a programming language that does not need compiling, installing, or debugging to run perfectly on the first run. Have a happy day!</b></div>
    </div>
      <img [src]="imgsrc" id="myImage" [ngClass]="bulbon" (click)="changeImage()" alt="">
          
  </div>  
</div>
