<div class="d-flex flex-sm-row flex-column">
  <div class="p-2 bd-highlight">
    <h1>|| HUISDOM Tour 2024 ||</h1>
    আমাদের  #huisdomtour2023 সুন্দর করে সফল হওয়ার পরের ট্যুর শুধু সঠিক সময়ের অপেক্ষা ছিলো। আমার আজকেই এই লেখার উদ্দেশ্য Huisdom Tour 2023 নয়, আমাদের পরবর্তী ট্যুর নিয়ে সকলকে অবগত করা। যে কোন বুদ্ধিমান মানুষের মাথায় প্রশ্ন আসাটাই স্বাভাবিক, "আপনি কি সবাইকে নিয়ে যেতে চাইছেন"? না বিষয়টা আসলে তা নয়, আমাদের আগের ট্যুরের ছবি দেখে অনেকেই আমাকে পরবর্তী ট্যুরে যাবার ইচ্ছা প্রকাশ করেছে তাই আমি publicly এই পোষ্ট করে সবাইকে অনেক আগে থেকেই আমাদেরর পরিকল্পনার কথা জানিয়ে রাখছি। এখানে আমাদের শব্দ অর্থাৎ HUISDOM, একটি নতুন অলাভজনক প্রতিষ্ঠান, আমরা যারা আগের বছর একসাথে ঘুরতে গিয়েছিলাম এবং যারা "Coder & AccoTax" এর ছাত্র-ছাত্রী বা শিক্ষক-শিক্ষিকা তারা এই সংস্থার প্রতিষ্ঠাতা সদস্য।
    আমাদের পরবর্তী গন্তব্যস্থল : পাহাড়, সিকিম, উত্তর বঙ্গ, সঠিক ভাবে স্থান নির্বাচন ঘুরতে যাওয়ার একমাস আগে সদস্যদের সাথে সহমতের ভিত্তিতে ঠিক করা হবে। (Member of Huisdom)।
    <table class="table">
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ঘুরতে যাওয়ার দিন, Train Ticket</td>
        <td>Sealdah to NJP</td>
        <td>15th March, 2024 (Friday)</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Train</td>
        <td>Sealdah to NJP</td>
        <td>112343 DARJEELING MAIL</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Time</td>
        <td>Sealdah to NJP</td>
        <td>22:05 (রাত ১০টা ৫ এ)</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ticket Booking Date</td>
        <td>Sealdah to NJP</td>
        <td>Thu Nov 16 2023 08:00 AM</td>
      </tr>
    </tbody>
    </table>


    Time                                  :  22:05 (রাত ১০টা ৫ এ)
    Preferred Coach                :  AC 3tier (B1)
    Booking Date                    : Thu Nov 09 2023 08:00 AM
    যাদের এই নিয়ে চিন্তা আছে        : কৃষ্ণপক্ষ ত্রয়োদশী 9:58 PM পর্যন্ত তার পরে চতুর্দশী
    ফেরার টিকিট
    টিকিট কাটতে হবে                  : NJP  to Sealdah
    Train for Sealdah to NJP   : 14th March, 2024 (Thursday)
    Train                                   :  12344 DARJEELING MAIL
    Time                                  :  19:45 (সন্ধ্যা ৭টা ৪৫ এ)
    Preferred Coach                :  AC 3tier (B1)
    Booking Date                    : Wed Nov 15 2023 08:00 AM
    যাদের এই নিয়ে চিন্তা আছে        : শুক্লপক্ষ পঞ্চমী 11:26 PM পর্যন্ত এবং তারপর ষষ্ঠী
    আমরা জানি এই রুটে ট্রেনের টিকিট পাওয়া বেশ কঠিন তাই আমাদের প্রথম দিনই টিকিট কেটে ফেলতে হবে, পরে কাটলে টিকিট confirm হতেও পারে আবার না হতেও পারে। Waiting List এ থাকা টিকিট পরে অনেক সমস্যার সৃষ্টি করে, যেমন বিভিন্ন জনের বিভিন্ন স্থানে সীট বন্টন হলে তা গুছিয়ে একজায়গায় নিয়ে আসা একটি বিশেষ সমস্যার বিষয়। তাই প্রত্যেককে অনুরোধ করবো আমি যে দিন টিকিট ও যে সময়ের কথা বলেছি সেই সময়ের মধ্যেই টিকিট কেটে নিতে হবে। একটি বিষয় সবার বুঝে নেওয়ার প্রয়োজন আছে আমাদের গ্রুপে মেয়েদের সংখ্যাই বেশি থাকে তাই আমাদের এটা প্রচেষ্টা থাকে সকলকে একই স্থানে রাখার।
    সব বিষয় আমি এখানে লিখে উঠতে পারবো না বলেই মনে হয়, তাও চেষ্টা করছি আগে থেকেই জানিয়া রাখার, ব্যক্তিগত আইডিতে আমি ৬ জনের টিকিট কাটতে পারি, আমাদের তিনজন ছাড়া আমি আরও তিনজনের টিকিট কাটতে পারবো, সে ক্ষেত্রে যারা আমাকে আগে টাকা দেবে তাদের টিকিট আমি কেটে দেবো, বাকিদের নিজেদের টিকিট নিজেদের কেটে নিতে হবে। কি ভাবে টিকিট কাটতে হবে তা আমি সবাইকে আগে থেকে বুঝিয়ে দেবো, দিনের দিন কাউকে সাহায্য করতে পারবো না।
    খরচ কেমন হবে তা এখনও ঠিক না করা হলেও একটা বাজেট করা হয়েছে, প্রায় জনাপ্রতি ১২০০০ (twelve thousand) করে লাগবে, টিকিটের দাম বাদে, আগের বছরের ন্যয় টাকা বাঁচলে ফেরত দেওয়া হবে। যদিও টিকিট কাটার তারিখ ৯ই নভেম্বর ২০২৩, তথাপি সকল সদস্য ঠিক করেছে যারা যারা যেতে চাইবে তারা তারা অক্টোবরের ২৯ তারিখের মধ্যে জনাপ্রতি ৩০০০ টাকা করে প্রদান করে তাদের নাম নথিভূক্ত করে নেবে। এই নাম আগে থেকে নেওয়ার পেছনে অনেক কারণ আছে, পরবর্তীকালে নাম নিতে বেশ সমস্যা তৈরী হয়। Room share করার জন্য আগে থেকে জানার প্রয়োজন হয় কে কে যাচ্ছে ও তাদের ব্যক্তিগত পছন্দ ও অপছন্দের কথা। যেমন যারা লম্বা বা hill sickness আছে তাদের গাড়ির পেছনে টানা বসতে দেওয়া যায় না।
    কেউ যদি ট্যুর বাতিল করে তাহলে আমাদের চেষ্টা হবে যতটা পারা যায় তার টাকা ফেরত দেওয়ার কিন্তু প্রথমে যে টাকাটা দেওয়া হচ্ছে হয়তো তার সর্বাধিক ৭০  শতাংশ ফেরত দেওয়া হবে, বাকি টাকা দেওয়া হবে না কারণ কিছু প্রাথমিক খরচ থাকে, এছাড়া বাকিটাকা ফেরত দেওয়ার চেষ্টা করা হবে, যদি হোমস্টে বুক করা হয়ে গিয়ে থাকে তাহলে পুরো টাকা ফেরত দেওয়া সম্ভব নাও হতে পারে।
    যদি কোন কারনে আমি না যাই বা প্রাকৃতিক দুর্যোগে ট্যুর বাতিল হয় তাহলে যে ক্ষতি হবে তা সবাইকে ভাগ করে নিতে হবে।
    যাওয়ার আগে এত কখা বলার কারণ হচ্ছে পরে যাতে কোন বিভ্রান্তি না থাকে, আমাদের আগের ট্যুর অত্যাধিক সুন্দর হওয়ার পেছনে সবার আন্তরিক সহযোগিতা ও আমার সবার কাছ থেকে পরামর্শ নেওয়া রয়েছে।
    আমি কঠিন করে কথাগুলো লেখাতে অনেকেরই খারাপ লাগবে কিন্তু কথা দিচ্ছি সাথে গেলে ভালো লাগবে। ছবি তুলে ভালো লাগবে আর হ্যাঁ একটা কথা বলা হয়নি যাদের ছবি তোলা দেখলে বিরক্ত লাগে তারা কিন্তু খুব একটা মজা পাবে না। #huisdomtour2024
    আগের ট্যুরের ছবি
    <a href="https://www.playbook.com/s/sukantahui/fBZrCshizouLjJ2NfNLE6TH9" target="_blank">You will get all pictures here</a>
  </div>
</div>


