
<section id="header-section">
  <div class="header-area">
    <app-header></app-header>
  </div>
  <hr style="margin-top: 0px !important; margin-bottom: 2px !important;">
</section>


<div class="d-flex flex-row col-12">
  <div *ngIf="sideBarOpen" class="col" style="background-image: var(--gradient-15); min-height: 100vh;">
    <button mat-mini-fab aria-label="Example icon button with a home icon" (click)="showSideBar=!showSideBar">
      <mat-icon>home</mat-icon>
    </button>
    <ul>
      <li>
        <a (click)="subject='Customer Discount'" routerLink='./CustomerDiscountReport'>Customer Discount</a>
      </li>
    </ul>
  </div>
  <!-- Right -->
  <div *ngIf="mainAreaOpen" style="min-height: 100vh;" class="col router-outlet" >
    <router-outlet></router-outlet>
  </div>
</div>

<!--<div>-->
<!--  <div class="d-flex flex-column" style="min-height: 100vh;">-->
<!--    <div>-->
<!--      -->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="course-content">
  <div class="d-flex justify-content-center">
    <div class="d-flex d-flex justify-content-center circle"> programming </div>
  </div>
  <div class="d-flex bd-highlight mb-3 flex-sm-row flex-column subject-group">
    <div class="p-2 d-flex bd-highlight col course">
      <div class="col-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eaque eligendi inventore ipsum laudantium minima odit provident quam unde ut? Accusamus aperiam, commodi deleniti id itaque laboriosam quos suscipit velit.Flex item 1
      </div>
      <div class="col-6">
        <img src="../assets/images/education1.png">
      </div>
    </div>
    <div class="p-2 d-flex bd-highlight col course">
      <div class="col-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eaque eligendi inventore ipsum laudantium minima odit provident quam unde ut? Accusamus aperiam, commodi deleniti id itaque laboriosam quos suscipit velit.Flex item 1
      </div>
      <div class="col-6">
        <img src="../assets/images/education2.png">
      </div>
    </div>
    <div class="p-2 d-flex bd-highlight col course">
      <div class="col-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eaque eligendi inventore ipsum laudantium minima odit provident quam unde ut? Accusamus aperiam, commodi deleniti id itaque laboriosam quos suscipit velit.Flex item 1
      </div>
      <div class="col-6">
        <img src="../assets/images/finance1.png">
      </div>
    </div>
  </div>

  <div class="book-your-class d-flex mx-auto my-auto">
    <a href="#">Book Your Classes</a>
  </div>

</div>

<div  class="fixed-box"  ngxHideOnScroll  [propertyUsedToHide]="'transform'"  [valueWhenHidden]="'translateY(0%)'"  [valueWhenShown]="'translateY(100%)'">
  <a href="#">
    <i class="bi bi-box-arrow-up" style="font-size: 2rem; color: red;"></i>
  </a>
</div>




    <!--<div>-->
<!--  <div class="container whole-div text-center shadow p-3 mb-5 bg-white rounded">-->
<!--    <div class="mb-3">-->
<!--      <span class="mb-3 bfc-learning-prg-title"> class </span>-->
<!--    </div>-->
<!--    <div class="d-flex flex-sm-row flex-column">-->
<!--      &lt;!&ndash;      Left&ndash;&gt;-->
<!--      <div class=" col-xs-12 col-sm-12 col-md-6 col-xl-6">-->
<!--        <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">-->
<!--          <div class="bfc-left-img-card">-->
<!--&lt;!&ndash;            <img class="sitting-chair-img" src="assets/images/btla.png" />&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="bfc-right-img-card">-->
<!--            <div class="card-body text-center">-->
<!--&lt;!&ndash;              <img class="card-byjus-logo lazyload"&ndash;&gt;-->
<!--&lt;!&ndash;                   src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg"&ndash;&gt;-->
<!--&lt;!&ndash;                   loading="lazy" />&ndash;&gt;-->
<!--              <p class="card-text">Personalised learning app <br> to learn-->
<!--                anytime, anywhere</p>-->
<!--              <a href="/byjus-the-learning-app/" target="_blank"-->
<!--                 class="know-more-link">-->
<!--                Know more >-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="vline">.</div>-->
<!--      &lt;!&ndash;      Right&ndash;&gt;-->
<!--      <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">-->
<!--        <div  class=" d-flex left-div col-xs-12 col-md-6 col-xl-6 bfc-learning-prg-card">-->
<!--          <div class="bfc-left-img-card">-->
<!--&lt;!&ndash;            <img class="sitting-chair-img" src="assets/images/btla.png" />&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="bfc-right-img-card">-->
<!--            <div class="card-body text-center">-->
<!--&lt;!&ndash;              <img class="card-byjus-logo lazyload" src="https://cdn1.byjus.com/byjusweb/img/home/svg/byjus_learningapp_logo.svg" loading="lazy" />&ndash;&gt;-->
<!--              <p class="card-text">Personalised learning app <br> to learn-->
<!--                anytime, anywhere</p>-->
<!--              <a href="/byjus-the-learning-app/" target="_blank"-->
<!--                 class="know-more-link">-->
<!--                Know more >-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--<section class="services_container">-->
<!--  <h1 class="head_1">-->
<!--    Our Services-->
<!--  </h1>-->
<!--&lt;!&ndash;  If big screen then result will be in column, if small in row&ndash;&gt;-->
<!--  <div class="services d-flex flex-sm-row flex-column">-->
<!--    <div class="box">-->
<!--&lt;!&ndash;      <img src="images/ser1.png" alt="">&ndash;&gt;-->
<!--      <h2 class="head_2">Observation</h2>-->
<!--      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sunt rerum porro nobis nesciunt-->
<!--        itaque aspernatur, delectus molestias culpa enim illo magni sapiente consequatur rem debitis, dicta-->
<!--        veritatis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugiat natus facere-->
<!--        facilis in mollitia expedita itaque asperiores, tempora, quibusdam quasi, dolore vel! Inventore!-->
<!--        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam tempora dolorem. </p>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--&lt;!&ndash;      <img src="images/ser2.png" alt="">&ndash;&gt;-->
<!--      <h2 class="head_2">Space podium</h2>-->
<!--      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sunt rerum porro nobis nesciunt-->
<!--        itaque aspernatur, delectus molestias culpa enim illo magni sapiente consequatur rem debitis, dicta-->
<!--        veritatis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugiat natus facere-->
<!--        facilis in mollitia expedita itaque asperiores, tempora, quibusdam quasi, dolore vel! Inventore!-->
<!--        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam tempora dolorem. </p>-->
<!--    </div>-->
<!--    <div class="box">-->
<!--&lt;!&ndash;      <img src="images/ser3.png" alt="">&ndash;&gt;-->
<!--      <h2 class="head_2">Rocketry-->
<!--      </h2>-->
<!--      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sunt rerum porro nobis nesciunt-->
<!--        itaque aspernatur, delectus molestias culpa enim illo magni sapiente consequatur rem debitis, dicta-->
<!--        veritatis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugiat natus facere-->
<!--        facilis in mollitia expedita itaque asperiores, tempora, quibusdam quasi, dolore vel! Inventore!-->
<!--        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam tempora dolorem. </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

