<div class="d-flex flex-sm-row flex-column">
  <div class="p-2 bd-highlight">
    <b>Dear Kaku,<br>
thank you for all the beautiful memories we have shared over the years. I hope this year brings you even more cherished moments and lots of love. Happy Birthday! And I will be always your little girl. From the hardest situation in my life to the happiest moment of my life, you were with me and you will be with me. Anyone can come into our life but we will live together not mandatory all the time physically, but also mentally, and emotionally, You will be my papa love u.</b>
  </div>
  <div class="d-flex align-items-center flex-column">
    <figure class="blob blob-radius1 box loaded-right">
      <img src="assets/images/dad-daughter.png" alt="Card image cap"/>
      <figcaption>boquet of happiness for you</figcaption>
    </figure>
    <div style="animation: var(--animation-blink);">loads of love</div>
  </div>
  <div class="d-flex align-items-center flex-column">
    <figure class="blob blob-radius1 box loaded-left">
      <img src="assets/images/dad-daughter3.png" alt="Card image cap"/>
      <figcaption>Many Many happy returns of the day</figcaption>
    </figure>
    <div style="animation: var(--animation-blink);">Have a wonderful days ahead</div>
  </div>
  <div class="d-flex align-items-center flex-column">
    <figure class="blob blob-radius1 box loaded-left">
      <img src="assets/images/dad-daughter3.png" alt="Card image cap"/>
      <figcaption>Many more candles to blow</figcaption>
    </figure>
    <div style="animation: var(--animation-blink);">Have a Spectacular birthday</div>
  </div>
  <div class="d-flex align-items-center flex-column">
    <figure class="loaded-left blob-radius1 loaded-left">
      <img src="assets/images/dad-daughter2.png" alt="Card image cap"/>
      <figcaption>Tum jio hazzaro saal ye meri arzu</figcaption>
    </figure>
    <div style="animation: var(--animation-blink);">Happy happy birthday to you</div>
  </div>
</div>


