<div class="d-flex flex-sm-row flex-column">
  <div class="p-2 bd-highlight">
    Set the direction of flex items in a flex container with direction utilities. In most cases you can omit the horizontal class here as the browser default is row. However, you may encounter situations where you needed to explicitly set this value (like responsive layouts).
  </div>
  <div class="d-flex align-items-center flex-column">
    <figure class="blob blob-radius1 box loaded-left">
      <img src="assets/images/dad-daughter.png" alt="Card image cap"/>
      <figcaption>Coder & AccoTax</figcaption>
    </figure>
    <div style="animation: var(--animation-blink);">Education First</div>
  </div>
  <div class="d-flex align-items-center flex-column">
    <figure class="blob blob-radius1 box loaded-left">
      <img src="assets/images/dad-daughter3.png" alt="Card image cap"/>
      <figcaption>Coder & AccoTax</figcaption>
    </figure>
    <div style="animation: var(--animation-blink);">Education First</div>
  </div>
  <div class="d-flex align-items-center flex-column">
    <figure class="loaded-left">
      <img src="assets/images/dad-daughter2.png" alt="Card image cap"/>
      <figcaption>Coder & AccoTax</figcaption>
    </figure>
    <div style="animation: var(--animation-blink);">Education First</div>
  </div>
</div>
