
<div class="col-xl-11 col-sm-6 col-xs-3">
    <mat-tab-group>
        <mat-tab label="Python Lists">
            <div class="p-2">
                <h3 class="bg"><b>
                    <pre><code>
                    mylist = [ "apple", "banana", "cherry" ]
                    </code></pre>
                    </b></h3>
                <br>
                <h2>List</h2>
                Lists are used to store multiple items in a single variable.<br>
                <br>
                Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are
                <u>Tuple</u>, <u>Set</u>, and <u>Dictionary</u>, all with different qualities and usage.<br>
                <br>
                Lists are created using square brackets:<br>
                <br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Create a List:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                    <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]
                                print ( thislist )
                                </code></pre>
                                </b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>List Items</h2>
                List items are ordered, changeable, and allow duplicate values.<br>
                <br>
                List items are indexed, the first item has index <code>[0]</code>, the second item has index
                <code>[1]</code> etc.
                <br>
                <br>
                <h2>Ordered</h2>
                When we say that lists are ordered, it means that the items have a defined order, and that order will not
                change.<br>
                <br>
                If you add new items to a list, the new items will be placed at the end of the list.
                <br>
                <br>
                <h2>Changeable</h2>
                The list is changeable, meaning that we can change, add, and remove items in a list after it has been
                created.
                <br>
                <br>
                <h2>Allow Duplicates</h2>
                Since lists are indexed, lists can have items with the same value:<br><br>
                <br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Lists allow duplicate values:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                    <pre><code>
                                thislist = [ "apple", "banana", "cherry", "apple", "cherry" ]
                                print ( thislist )
                                </code></pre>
                                </b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>List length</h2>
                To determine how many items a list has, use the <code>len( )</code> function:<br>
                <br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Print the number of items in the list:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                    <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]
                                print (len ( thislist ) )
                                </code></pre>
                                </b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>List Items - Data Types</h2>
                List items can be of any data type:<br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>String, int and boolean data types:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                    <pre><code>
                                list1 = [ "apple", "banana", "cherry" ]<br>
                                list2 = [ 1, 5, 7, 9, 3 ]<br>
                                list3 = [ True, False, False ]
                                </code></pre>
                                </b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                A list can contain different data types:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>A list with strings, integers and boolean values:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                    <pre><code>
                                list1 = [ "abc", 34, True, 40, "male" ]
                                </code></pre>
                                </b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>Type()</h2>
                From Python's perspective, lists are defined as objects with the data type 'list':
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>What is the data type of a list?</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                    <pre><code>
                                    mylist = [ "apple", "banana", "cherry" ]
                                    print ( type ( mylist ) )
                                    </code></pre>
                                </b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>The List( ) Constructor</h2>
                It is also possible to use the <code>list()</code> constructor when creating a new list.<br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Using the <code>list()</code> constructor to make a List:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                    <pre><code>
                                thislist = list ( ( "apple", "banana", "cherry" ) ) # note the double round-brackets
                                print ( thislist )
                                </code></pre>
                                </b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>Python Collections ( Arrays )</h2>
                There are four collection data types in the Python programming language:
                <ul>
                    <li>List is a collection which is ordered and changeable. Allows duplicate members.</li>
                    <li>Tuple is a collection which is ordered and unchangeable. Allows duplicate members.</li>
                    <li>Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.</li>
                    <li>Dictionary is a collection which is ordered** and changeable. No duplicate members.</li>
                </ul>
                When choosing a collection type, it is useful to understand the properties of that type. Choosing the right
                type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency
                or security.
            </div> 
        </mat-tab>
    
        <mat-tab label="Access List Items"> 
            <div class="p-2">
            <h2>Access Items</h2>
            List items are indexed and you can access them by referring to the index number:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Print the second item of the list:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]
                                print ( thislist [ 1 ] )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Negative Indexing</h2>
            Negative indexing means start from the end
            <br><br>
            <code>-1</code> refers to the last item, <code>-2</code> refers to the second last item etc.
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Print the last item of the list:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]
                                print ( thislist [ -1 ] )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Range of Indexes</h2>
            You can specify a range of indexes by specifying where to start and where to end the range.
            <br><br>
            When specifying a range, the return value will be a new list with the specified items.
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br> Return the third, fourth, and fifth item:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                                print ( thislist [ 2:5 ] )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            By leaving out the start value, the range will start at the first item:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>This example returns the items from the beginning to, but NOT including, "kiwi":</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                                print ( thislist [ :4 ] )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            By leaving out the end value, the range will go on to the end of the list:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>This example returns the items from "cherry" to the end:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                                print ( thislist [ 2: ] )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <h2>Range of Negative Indexes</h2>
            Specify negative indexes if you want to start the search from the end of the list:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry", "orange", "kiwi", "melon", "mango" ]
                                print ( thislist [ -4:-1 ] )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Check if Item Exists</h2>
            To determine if a specified item is present in a list use the in keyword:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Check if "apple" is present <code>in</code> the list:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]<br>
                                if "apple" in thislist:<br>
                                print ( "Yes, 'apple' is in the fruits list" )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            </div>
        </mat-tab>
    
        <mat-tab label="Change List Items"> 
        <div class="p-2">
            <h2>Change Item Value</h2>
            To change the value of a specific item, refer to the index number:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Change the second item:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]
                                thislist [ 1 ] = "blackcurrant"
                                print ( thislist )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Change a Range of Item Values</h2>
            To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
                                thislist[1:3] = ["blackcurrant", "watermelon"]
                                print(thislist)
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            If you insert more items than you replace, the new items will be inserted where you specified, and <br>the remaining items will move accordingly:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Change the second value by replacing it with two new values:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]
                                thislist [ 1:2 ] = ["blackcurrant", "watermelon"]
                                print(thislist)
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Change the second and third value by replacing it with one value:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = [ "apple", "banana", "cherry" ]
                                thislist [ 1:3 ] = [ "watermelon" ]
                                print ( thislist )
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            <br>
            <h2>Insert Items</h2>
            To insert a new list item, without replacing any of the existing values, we can use the <code>insert()</code> method.
            <br><br>
            The <code>insert()</code> method inserts an item at the specified index:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Insert "watermelon" as the third item:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                            <pre><code>
                                thislist = ["apple", "banana", "cherry"]
                                thislist.insert(2, "watermelon")
                                print(thislist)
                            </code></pre></b>
                        </h3>
                    </tr>
                </tbody>
            </table>
        </div>
        </mat-tab>
    
        <mat-tab label="Add List Items"> 
            <div class="p-2">
                <h2>Append Items</h2>
                To add an item to the end of the list, use the <code>append()</code> method:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Using the <code>append()</code> method to append an item:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    thislist.append("orange")
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>Insert Items</h2>
                To insert a list item at a specified index, use the <code>insert()</code> method.
                <br><br>
                The <code>insert()</code> method inserts an item at the specified index:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Insert an item as the second position:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    thislist.insert(1, "orange")
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2>Extend List</h2>
                To append elements from another list to the current list, use the <code> extend() </code> method.
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Add the elements of tropical to thislist:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    tropical = ["mango", "pineapple", "papaya"]
                                    thislist.extend(tropical)
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                The elements will be added to the end of the list.
                <br>
                <h2>Add Any Iterable</h2>
                The <code> extend() </code> method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Add elements of a tuple to a list:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    thistuple = ("kiwi", "orange")
                                    thislist.extend(thistuple)
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </mat-tab>
    
        <mat-tab label="Remove List Items"> 
            <div class="p-2">
                <h2>Remove Specified Item</h2>
                The <code class="large"> remove() </code> method removes the specified item.
            <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Remove "banana":</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    thislist.remove("banana")
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <h2>Remove Specified Index</h2>
                The <code class="large"> pop() </code> method removes the specified index.
            <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Remove the second item:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    thislist.pop(1)
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                If you do not specify the index, the <code class="large"> pop() </code> method removes the last item.
            <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Remove the last item:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    thislist.pop()
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                The <code class="large"> del </code> keyword also removes the specified index:
            <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Remove the first item:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    del thislist[0]
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                The <code class="large"> del </code> keyword can also delete the list completely.
            <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Delete the entire list:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    del thislist
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <h2>Clear the List</h2>
                The <code class="large">clear() </code> method empties the list.
                <br>
                The list still remains, but it has no content.
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Clear the list content:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    thislist.clear()
                                    print(thislist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
    
        <mat-tab label="Loop Lists"> 
            <div class="p-2">
                <h2>Loop Through a List</h2>
                You can loop through the list items by using a <code class="large"> for </code> loop:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Print all items in the list, one by one:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    for x in thislist:
                                    print(x)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
    
                <h2>Loop Through the Index Numbers</h2>
                <br>
                You can also loop through the list items by referring to their index number.
                <br>
                Use the <code class="large"> range() </code> and <code class="large"> len() </code> functions to create a suitable iterable.
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Print all items by referring to their index number:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    for i in range(len(thislist)):
                                    print(thislist[i])
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                The iterable created in the example above is <code class="large"> [0, 1, 2] </code>.
                <br>
                <h2>Using a While Loop</h2>
                You can loop through the list items by using a <code class="large"> while </code> loop.
                <br>
                Use the <code class="large"> len() </code> function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.
                <br>
                Remember to increase the index by 1 after each iteration.
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Print all items, using a <code class="large"> while </code> loop to go through all the index numbers</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    i = 0
                                    while i < len(thislist):
                                    print(thislist[i])
                                    i = i + 1
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <h2>Looping Using List Comprehension</h2>
                Looping Using List Comprehension
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>A short hand <code class="large"> for </code>for loop that will print all items in a list:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    thislist = ["apple", "banana", "cherry"]
                                    [print(x) for x in thislist]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
    
        <mat-tab label="List Comprehension"> 
            <div class="p-2">
                <h2>List Comprehension</h2>
                List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
    
                Example:
    
                Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.
    
                Without list comprehension you will have to write a <code class="large"> for </code> statement with a conditional test inside:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br></h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
                                    newlist = []
                                    
                                    for x in fruits:
                                      if "a" in x:
                                        newlist.append(x)
                                    
                                    print(newlist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                With list comprehension you can do all that with only one line of code:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br></h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
    
                                    newlist = [x for x in fruits if "a" in x]
    
                                    print(newlist)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <h2> The Syntax </h2>
                    <pre class="fontsize"><code>
                    newlist = [expression for item in iterable if condition == True]
                    </code></pre>
                    The return value is a new list, leaving the old list unchanged.
                    <h2> Condition </h2>
                    The condition is like a filter that only accepts the items that valuate to <code class="lar">True</code>.
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br> Only accept items that are not "apple":</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    newlist = [x for x in fruits if x != "apple"]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                The condition if x != <code class="large"> "apple" </code>  will return <code class="large"> True </code> for all elements other than "apple", making the new list contain all fruits except "apple".
                <br>
                The condition is optional and can be omitted:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>With no if statement:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    newlist = [x for x in fruits]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <h2>Iterable</h2>
                The iterable can be any iterable object, like a list, tuple, set etc.
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>You can use the <code class="large"> range() </code> function to create an iterable:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    newlist = [x for x in range(10)]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                Same example, but with a condition:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Accept only numbers lower than 5:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    newlist = [x for x in range(10) if x < 5]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                <h2>Expression</h2>
                The expression is the current item in the iteration, but it is also the outcome, which you can manipulate <br>before it ends up like a list item in the new list:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Set the values in the new list to upper case:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    newlist = [x.upper() for x in fruits]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                You can set the outcome to whatever you like:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Set all values in the new list to 'hello':</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    newlist = ['hello' for x in fruits]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Return "orange" instead of "banana":</h3>
                        </tr>
                        <tr>
                            <h3 class="bg"><b>
                                <pre><code>
                                    newlist = [x if x != "banana" else "orange" for x in fruits]
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                The expression in the example above says:
    
                <i>"Return the item if it is not banana, if it is banana return orange".</i>
            </div>
        </mat-tab>
    
        <mat-tab label="Sort Lists">
            <div class="p-2">
                <h2>Sort List Alphanumerically</h2>
                List objects have a <code class="large"> sort() </code> method that will sort the list alphanumerically, ascending, by default:
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Sort the list alphabetically:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
                                        thislist.sort()
                                        print(thislist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Sort the list numerically:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = [100, 50, 65, 82, 23]
                                        thislist.sort()
                                        print(thislist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Sort Descending</h2>
                    To sort descending, use the keyword argument <code class="large"> reverse = True: </code>
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Sort the list descending:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
                                        thislist.sort(reverse = True)
                                        print(thislist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Sort the list descending:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = [100, 50, 65, 82, 23]
                                        thislist.sort(reverse = True)
                                        print(thislist
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Customize Sort Function</h2>
                    You can also customize your own function by using the keyword argument <code class="large">key = function.</code>
                    <br>
                    The function will return a number that will be used to sort the list (the lowest number first):
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Sort the list based on how close the number is to 50:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        def myfunc(n):
                                        return abs(n - 50)
    
                                        thislist = [100, 50, 65, 82, 23]
                                        thislist.sort(key = myfunc)
                                        print(thislist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Case Insensitive Sort</h2>
                    By default the <code class="large"> sort() </code> method is case sensitive, resulting in all capital letters being sorted before lower case letters:
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Case sensitive sorting can give an unexpected result:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = ["banana", "Orange", "Kiwi", "cherry"]
                                        thislist.sort()
                                        print(thislist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                    Luckily we can use built-in functions as key functions when sorting a list.
                    <br>
                    So if you want a case-insensitive sort function, use str.lower as a key function:
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Perform a case-insensitive sort of the list:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = ["banana", "Orange", "Kiwi", "cherry"]
                                        thislist.sort(key = str.lower)
                                        print(thislist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Reverse Order</h2>
                    What if you want to reverse the order of a list, regardless of the alphabet?
                    <br>
                    The <code class="large"> reverse() </code> method reverses the current sorting order of the elements.
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Reverse the order of the list items:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = ["banana", "Orange", "Kiwi", "cherry"]
                                        thislist.reverse()
                                        print(thislist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </mat-tab>
    
        <mat-tab label="Copy Lists">
            <div class="p-2">
                <h2>Copy a List</h2>
                You cannot copy a list simply by typing <code class="large">list2 = list1</code>, because: <code class="large"> list2 </code> will only be a reference to <code class="large"> list1 </code>, and changes made in <code class="large">list1</code>list1 will automatically also be made in <code class="large">list2</code>.
                <br>
                There are ways to make a copy, one way is to use the built-in List method <code class="large">copy()</code>.
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Make a copy of a list with the <code class="large"> copy() </code> method:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = ["apple", "banana", "cherry"]
                                        mylist = thislist.copy()
                                        print(mylist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                Another way to make a copy is to use the built-in method <code class="large">list()</code>.
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Make a copy of a list with the <code class="large"> List() </code> method:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg"><b>
                                    <pre><code>
                                        thislist = ["apple", "banana", "cherry"]
                                        mylist = list(thislist)
                                        print(mylist)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </mat-tab>
        
        <mat-tab label="Join lists">
            <div class="p-2">
                <h2>Join Two Lists</h2>
                There are several ways to join, or concatenate, two or more lists in Python.
                <br>
                One of the easiest ways are by using the <code class="large"> + </code> operator.
                <br><br>
                    <table class="table">
                        <tbody>
                            <tr class="bg2">
                                <h3><b>EXAMPLE</b><br>Join two list:</h3>
                            </tr>
                            <tr>
                                <h3 class="bg">
                                    <b><pre><code>
                                        list1 = ["a", "b", "c"]
                                        list2 = [1, 2, 3]
    
                                        list3 = list1 + list2
                                        print(list3)
                                    </code></pre></b>
                                </h3>
                            </tr>
                        </tbody>
                    </table>
                Another way to join two lists is by appending all the items from list2 into list1, one by one:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Append list2 into list1:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg">
                                <b><pre><code>
                                    list1 = ["a", "b" , "c"]
                                    list2 = [1, 2, 3]
    
                                    for x in list2:
                                    list1.append(x)
    
                                    print(list1)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
                Or you can use the <code class="large"> extend()</code> method, which purpose is to add elements from one list to another list:
                <br><br>
                <table class="table">
                    <tbody>
                        <tr class="bg2">
                            <h3><b>EXAMPLE</b><br>Use the <code class="large">extend()</code> method to add list2 at the end of list1:</h3>
                        </tr>
                        <tr>
                            <h3 class="bg">
                                <b><pre><code>
                                    list1 = ["a", "b" , "c"]
                                    list2 = [1, 2, 3]
    
                                    list1.extend(list2)
                                    print(list1)
                                </code></pre></b>
                            </h3>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
    
        <mat-tab label="List Methods">
            <div class="p-2">
                <h2>List Method</h2>
                <table>
                    <tbody>
                        <tr class="border">
                            <th><h2 class="listM"><u>Method</u></h2>
                                <tr>append()</tr><br>
                                <tr>clear()</tr><br>
                                <tr>copy()</tr><br>
                                <tr>count()</tr><br>
                                <tr>extend()</tr><br>
                                <tr>index()</tr><br>
                                <tr>insert()</tr><br>
                                <tr>pop()</tr><br>
                                <tr>remove()</tr><br>
                                <tr>reverse()</tr><br>
                                <tr>sort()</tr>
                            </th>
                            <br><br>
                            <th><br><br></th>
                            <br><br>
                            <th><h2 class="listM"><u>Description</u></h2>
                            <tr>Adds an element at the end of the list</tr><br>
                            <tr>Removes all the elements from the list</tr><br>
                            <tr>Returns a copy of the list</tr><br>
                            <tr>Returns the number of elements with the specified value</tr><br>
                            <tr>Add the elements of a list (or any iterable), to the end of the current list</tr><br>
                            <tr>Returns the index of the first element with the specified value</tr><br>
                            <tr>Adds an element at the specified position</tr><br>
                            <tr>Removes the element at the specified position</tr><br>
                            <tr>Removes the item with the specified value</tr><br>
                            <tr>Reverses the order of the list</tr><br>
                            <tr>Sorts the list</tr>
                            </th>
                        </tr>
                    </tbody>
                </table>
    
    
    
    
    
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

