::ng-deep :root{
    --bkg: #232946;
    --dark: #121629;
    --purple: #b8c1ec;
    --pink: #eebbc3;
    --white: #fffffe;

    --huisdom-gradient: linear-gradient(45deg,
    #f3feca,
    #fcdeeb,
    #feebd5,
    #deffe5
    );
}


main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  //max-inline-size: calc(var(--size-content-1) * 4);
  margin-inline: auto;
  // gap: var(--size-5);
  //padding: var(--size-5);
  color: #ffffff;
}



.box{
    /* no radius when fullscreen */
    height: max(200px, 20vw);
    width: max(200px, 20vw);


    border: var(--border-size-1) solid var(--gray-1);
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow-6);
    &:hover {
      box-shadow: var(--shadow-4);
      background-image: var(--gradient-26);
    }
  }
.blob {
    img {
      height: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    figcaption {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -90%);
      font-weight: var(--font-weight-7);
    }
}

.main-area{
  min-height: 100vh;
}


.courses{
  background-color: #9ebdff;

}
.teachers{
  background-color: #a6b0ee;


}
// .info{
//   background: url(../../../assets/images/dragon-scales\ \(1\).svg);
// }


.box2{
  /* no radius when fullscreen */
  height: max(100px, 10vw);
  width: max(100px, 10vw);
  margin: 5px;


  border: var(--border-size-1) solid var(--gray-1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow-6);
  // &:hover {
  //   box-shadow: var(--shadow-4);
  //   background-image: var(--gradient-26);
  // }
}

