<div class="p-2">
    <h2>Python Tuples</h2>
        <h3 class="bg"><b>
            <pre><code>
            mylist = [ "apple", "banana", "cherry" ]
            </code></pre>
            </b></h3>
        <h2>Tuples</h2>
            Tuples are used to store multiple items in a single variable.
            <br><br>
            Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are <u>List</u>, <u>Set</u>, and <u>Dictionary</u>, all with different qualities and usage.
            <br><br>
            A tuple is a collection which is ordered and <b>unchangeable</b>.
            <br><br>
            Tuples are written with round brackets.
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Create a Tuple:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                                    thistuple = ("apple", "banana", "cherry")
                                    print(thistuple)
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
        <h2>Tuples Items</h2>
            Tuple items are ordered, unchangeable, and allow duplicate values.
            <br><br>
            Tuple items are indexed, the first item has index <code class="large">[0]</code>, the second item has index <code class="large">[1]</code> etc.
        <h2>Ordered</h2>
            When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
        <h2>Unchangeable</h2>
            Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
        <h2>Allow Duplicates</h2>
            Since tuples are indexed, they can have items with the same value:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Tuples allow duplicate values:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                                    thistuple = ("apple", "banana", "cherry", "apple", "cherry")
                                    print(thistuple)
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
        <h2>Tuple Length</h2>
            To determine how many items a tuple has, use the <code class="large">len()</code> function:
            <br><br>
            <table class="table">
                <tbody>
                    <tr class="bg2">
                        <h3><b>EXAMPLE</b><br>Print the number of items in the tuple:</h3>
                    </tr>
                    <tr>
                        <h3 class="bg"><b>
                                <pre><code>
                                    thistuple = ("apple", "banana", "cherry")
                                    print(len(thistuple))
                            </code></pre>
                            </b>
                        </h3>
                    </tr>
                </tbody>
            </table>
            
</div>
