.bg{
    background-color: white;
}
.bg2{
    background-color: rgb(197, 193, 193);
}
.align{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.large{
    font-size: larger;
}
.fontsize{
    font-size: large;
    background-color: lightgray;
}
.listm{
    text-align: justify;
}
.border{
    border: rgb(1, 1, 1);
    border-bottom: 1px solid #000000;
    background-color: azure;
}