<div *ngIf="bijoyaFormShow" class="d-flex flex-sm-row flex-column  bd-highlight mb-3">
  <div class="p-2 col-lg-4 bd-highlight">
    <div class="d-flex flex-column">
      <div
        style="color: blue; text-align: center; font-weight: bold; font-size: 30px; padding: 8px;">
        <div class="logo-div" style="text-align: center; padding-left: 42%;">
          <img src="assets/images/coder_n_accotax_logo.png" width="50" alt>
        </div>
        <!-- <div style="padding-top: 10px;"><b><span>#coderBijoya2023</span></b></div> -->
      </div>

      <div  class="container" style="text-align: center;">

        <form  [formGroup]="studentForm" class="flex-sm-row flex-lg-row" >
          <fieldset class="pb-4 d-flex flex-column">
            <legend>Bijoya Regitration:</legend>

            <mat-form-field  hintLabel="Max {{studentNameLocal.maxLength}} characters" class="p-2">
              <mat-label>Student Name</mat-label>
              <input #studentNameLocal maxlength="50" matInput
                     formControlName="studentName">
              <mat-hint align="end">
                {{studentNameLocal.value.length || 0}}/{{studentNameLocal.maxLength}}
              </mat-hint>
              <mat-error *ngIf="studentForm.controls['studentName'].errors">
                <mat-error *ngIf="studentForm.controls['studentName'].errors['required']">
                  Student Name is required!
                </mat-error>
                <mat-error *ngIf="studentForm.controls['studentName'].errors['minlength']">
                  Required at least 5 character!
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="p-2"
                            hintLabel="Contact number is required.">
              <mat-label> <i class="bi bi-telephone-fill mr-1"></i>Contact Number</mat-label>
              <input placeholder="Enter Your Contact Number" matInput
                     formControlName="contactNumber" value>
              <mat-error *ngIf="studentForm.controls['contactNumber'].errors">
                <mat-error
                  *ngIf="studentForm.controls['contactNumber'].errors['required']">
                  Contact Number Required.
                </mat-error>
              </mat-error>
            </mat-form-field>

            <!-- <mat-form-field  class="p-2">
              <mat-label>Student Name</mat-label>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                <label class="form-check-label" for="check1">Option 1</label>
              </div>
              <mat-error *ngIf="studentForm.controls['foodHabit'].errors">
                <mat-error *ngIf="studentForm.controls['foodHabit'].errors['required']">
                  Student Name is required!
                </mat-error>                
              </mat-error>
            </mat-form-field> -->


            <mat-form-field class="p-2">
              <mat-label>Whatsapp Number</mat-label>
              <input matInput formControlName="whatsappNumber">
            </mat-form-field>
            <mat-form-field class="p-2">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="p-2">
              <mat-label>Member Number</mat-label>
              <input matInput formControlName="memberNumber">
            </mat-form-field>

            <div style="text-align: center;">
              <button type="button" class="btn btn-primary" mat-button color="light"
                      (click)="onSubmit()">Submit</button>
            </div>
          </fieldset>

        </form>

        

      </div>
      
    </div>
  </div>
  <div class="p-2 col-lg-4 bd-highlight">
    <!-- <div class="d-flex flex-row"> -->
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/1.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/2.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/3.jpg" height="300vh" alt=""></div>
    <!-- </div> -->
  </div>
  <div class="p-2 col-lg-4 bd-highlight">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/4.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/5.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/6.jpg" height="300vh" alt=""></div>
  </div>


</div>
<div *ngIf="!bijoyaFormShow" class="container">

  <div class="text-block" style="text-align: center;">
    <div style="font-size: 40px;">~: Coder Bijoya :~</div>
    <div class="d-flex" style="margin-top: 30px;">
      <h2>Your Token Number :</h2>
      <p>BIJOYA@CODER2023-P{{saveStudentInfo.id}}</p>
    </div>
    
  </div>
  <div class="d-flex flex-row">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/1.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/2.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/3.jpg" height="300vh" alt=""></div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/4.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/5.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/6.jpg" height="300vh" alt=""></div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/7.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/8.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/9.jpg" height="300vh" alt=""></div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/10.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/11.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/12.jpg" height="300vh" alt=""></div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/13.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/14.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/15.jpg" height="300vh" alt=""></div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/16.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/17.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/18.jpg" height="300vh" alt=""></div>
  </div>
  <!-- <img loading="lazy" decoding="async" src="/assets/images/bijoya/1.jpg" height="300vh" alt=""> -->
</div>

