<div *ngIf="bijoyaFormShow" class="d-flex flex-sm-row flex-column  bd-highlight mb-3" style="background-color: rgb(60, 64, 83);">
  <div class="p-2 col-lg-4 bd-highlight">
    <div class="d-flex flex-column">
      <div
        style="color: blue; text-align: center; font-weight: bold; font-size: 30px; padding: 8px;">
        <div class="logo-div" style="text-align: center; padding-left: 42%;">
          <img style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.42); border-radius: 50%;" src="assets/images/coder_n_accotax_logo.png" width="50" alt>
        </div>
        <!-- <div style="padding-top: 10px;"><b><span>#coderBijoya2023</span></b></div> -->
      </div>

      <div  class="container" style="text-align: center;">
        <div style="padding-left: 10%; color: rgb(255, 204, 0);"><h1 style="font-weight: bolder;">Coder and AccoTax</h1></div>
        <div style="color: white; font-size: 18px; padding: 2%;">
          Let's Celebrate Our
          <span id="blink-div">
            24th 
          </span>
          Anniversary Together
        </div>
        <form  [formGroup]="studentForm" class="flex-sm-row flex-lg-row" >
          <fieldset class="pb-4 d-flex flex-column">
            <legend>Bijoya Regitration:</legend>
            

            <mat-form-field  hintLabel="Max {{studentNameLocal.maxLength}} characters" class="p-2">
              <mat-label>Student Name</mat-label>
              <input #studentNameLocal maxlength="50" matInput
                     formControlName="studentName">
              <mat-hint align="end">
                {{studentNameLocal.value.length || 0}}/{{studentNameLocal.maxLength}}
              </mat-hint>
              <mat-error *ngIf="studentForm.controls['studentName'].errors">
                <mat-error *ngIf="studentForm.controls['studentName'].errors['required']">
                  Student Name is required!
                </mat-error>
                <mat-error *ngIf="studentForm.controls['studentName'].errors['minlength']">
                  Required at least 5 character!
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="p-2"
                            hintLabel="Contact number is required.">
              <mat-label> <i class="bi bi-telephone-fill mr-1"></i>Contact Number</mat-label>
              <input placeholder="Enter Your Contact Number" matInput
                     formControlName="contactNumber" value>
              <mat-error *ngIf="studentForm.controls['contactNumber'].errors">
                <mat-error
                  *ngIf="studentForm.controls['contactNumber'].errors['required']">
                  Contact Number Required.
                </mat-error>
              </mat-error>
            </mat-form-field>

            <!-- <mat-form-field  class="p-2">
              <mat-label>Student Name</mat-label>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                <label class="form-check-label" for="check1">Option 1</label>
              </div>
              <mat-error *ngIf="studentForm.controls['foodHabit'].errors">
                <mat-error *ngIf="studentForm.controls['foodHabit'].errors['required']">
                  Student Name is required!
                </mat-error>                
              </mat-error>
            </mat-form-field> -->


            <mat-form-field class="p-2">
              <mat-label>Whatsapp Number</mat-label>
              <input matInput formControlName="whatsappNumber">
            </mat-form-field>
            <mat-form-field class="p-2">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="p-2">
              <mat-label>Member Number</mat-label>
              <input matInput formControlName="memberNumber">
            </mat-form-field>
            <!-- <div style="display: flex; justify-content: center;"> -->
              <!-- <span class="m-2"><b>Select Your Food Habbit:-</b></span> -->
              <!-- <div > -->
                <!-- <input formControlName="foodHabit" class="m-2" type="checkbox" name="test" [checked]="food[0]" value="food[0]" (click)="selectCheckBox()">Veg
              </div>{{food[0]}} -->
              <!-- <div >
                <input formControlName="foodHabit" class="m-2" type="checkbox" name="test" [checked]="non-veg" (click)="selectCheckBox(non-veg)">Nonveg
              </div>
              <div>
                <input formControlName="foodHabit" class="m-2" type="checkbox" name="test" [checked]="semi"  (click)="selectCheckBox(semi)">Semi
              </div> -->
              
              <!-- <br>  -->
              
              <!-- <br>  -->
              
            <!-- </div> -->

            <mat-form-field class="p-2">
              <mat-label>Food Habit</mat-label>
              <input matInput formControlName="foodHabit">
              <mat-hint align="end">
                Like:- Veg, Non-veg
              </mat-hint>
            </mat-form-field>

            
            <hr>
            
            

            <div class="" style="color: rgb(0, 0, 0);">
              <input class="p-1" style="border: 1px solid black; margin-right: 4px;" class="form-check-input" type="checkbox" #check1 name="option1" value="something" unchecked>
              <label class="">Yes, I promise that I'll attend that day</label>
            </div>

            <div style="text-align: center;">
              <button type="button" class="btn btn-primary" mat-button color="light"
                      (click)="onSubmit()">Submit</button>
            </div>
          </fieldset>

        </form>

        

      </div>
      
    </div>
  </div>
  <div class="p-2 col-lg-4 bd-highlight">
    <!-- <div class="d-flex flex-row"> -->
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/1.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/2.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/3.jpg" height="300vh" alt=""></div>
    <!-- </div> -->
  </div>
  <div class="p-2 col-lg-4 bd-highlight">
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/4.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/5.jpg" height="300vh" alt=""></div>
    <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/6.jpg" height="300vh" alt=""></div>
  </div>


</div>
<div *ngIf="!bijoyaFormShow" class="" style="background-color: rgb(60, 64, 83);     position: relative;
font-family: Arial;">

  <!-- <img loading="lazy" decoding="async" src="/assets/images/bijoya/invitation.jpg" alt="">
  <div class="text-block" style="position: absolute;
  bottom: 50px;
  right: 100px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 50px;
  font-size: xx-small;">
      <h2 style="">Token Number :</h2>
      <p>BIJOYA@CODER2022-P{{saveStudentInfo.id}}</p>
  </div> -->
  <div style="background-image: url('assets/images/bijoya/durga.jpg'); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">


    

    <div class="text-block" style="text-align: center; color: rgb(0, 0, 0);">
      <!-- <div style="border: 1px solid black; margin: 20px; background-color: rgba(255, 255, 255, 0.323);"> -->
        <div style="font-size: 40px;  padding-top: 10px;  font-weight: bold;">~: Coder Bijoya :~</div>
        <div class="logo-div" style="text-align: center; padding-left: 42%; padding-top: 20px;">
          <img style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.42); border-radius: 50%;" src="assets/images/coder_n_accotax_logo.png" width="50" alt>
        </div>
        <div style="color: rgb(0, 0, 0); padding: 14px; font-size: large; line-height: 30px;">
          #coderBijoya2023 তে সবাইকে আমন্ত্রন। প্রত্য়েক বছরের মতো এবছরও আমাদের বিজয়ার অনুষ্ঠান হবে ৫ই নভেম্বর, ২০২৩। আমাদের coderBijoya এই বছর ২৪ পূর্ণ করে ২৫ এ পা দেবে। দেখা হচ্ছে সবার সাথে। আবার হবে জমিয়ে ফুচকা খাওয়া আর আ়ড্ডা।
        </div>
        <div class="" style="margin-top: 30px;">
          <div><h2>Your Token Number :</h2></div>
          <!-- <p style="color: blue;">BIJOYA@CODER2023-P</p> -->
          <p style="color: blue;">BIJOYA@CODER2023-P{{saveStudentInfo.id}}</p>
        </div>
      <!-- </div> -->
          
    </div>

    <div class="d-flex flex-row">
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/1.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/2.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/3.jpg" height="300vh" alt=""></div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/4.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/5.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/6.jpg" height="300vh" alt=""></div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/7.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/8.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/9.jpg" height="300vh" alt=""></div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/10.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/11.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/12.jpg" height="300vh" alt=""></div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/13.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/14.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/15.jpg" height="300vh" alt=""></div>
    </div>
    <div class="d-flex flex-row">
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/16.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/17.jpg" height="300vh" alt=""></div>
      <div class="p-2"><img loading="lazy" decoding="async" src="/assets/images/bijoya/18.jpg" height="300vh" alt=""></div>
    </div> 
  </div>
  <!-- <img loading="lazy" decoding="async" src="/assets/images/bijoya/1.jpg" height="300vh" alt=""> -->

</div>

