<div class="d-flex flex-sm-row flex-column">
    <div style="color: blue; text-align: center; font-weight: bold; font-size: 30px; padding: 8px;">
        <div style="text-align: center; padding-left: 42%;"><img src="assets/images/coder_n_accotax_logo.png" width="50" alt=""></div>
        <div style="padding-top: 10px;"><b><span>#coderBijoya2023</span></b></div>
    </div>
    <div style="background-color: rgba(127, 255, 212, 0); text-align: center; padding: 20px;">

      <form [formGroup]="studentForm">

        <mat-form-field class="col-8">
          <mat-label>Student Name</mat-label>
          <input matInput formControlName="studentName">
        </mat-form-field> 
        <mat-form-field class="col-8">
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="contactNumber">
        </mat-form-field> 
        <mat-form-field class="col-8">
          <mat-label>Whatsapp Number</mat-label>
          <input matInput formControlName="whatsappNumber">
        </mat-form-field> 
        <mat-form-field class="col-8">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field> 
        <mat-form-field class="col-8">
          <mat-label>Member Number</mat-label>
          <input matInput formControlName="memberNumber">
        </mat-form-field>  
        
        <div style="text-align: center;">
          <button type="button" class="btn btn-primary" mat-button color="light" (click)="onSubmit()">Submit</button> 
        </div>           
      
      </form>
        
          
    </div>
    <div class="p-2 bd-highlight">
      Dear Kaku,<br>
      thank you for all the beautiful memories we have shared over the years. I hope this year brings you even more cherished moments and lots of love. Happy Birthday! And I will be always your little girl. The hardest situation in my life to happiest moment of my life you were with me and you will be with me.And anyone can come our life but we will lives together no mandatory all time physically, but also mentally,emotionally,you will be my papa love u
    </div>
    <div class="d-flex align-items-center flex-column">
      <figure class="blob blob-radius1 box loaded-right">
        <img src="assets/images/dad-daughter.png" alt="Card image cap"/>
        <figcaption>boquet of happiness for you</figcaption>
      </figure>
      <div style="animation: var(--animation-blink);">loads of love</div>
    </div>
    <div class="d-flex align-items-center flex-column">
      <figure class="blob blob-radius1 box loaded-left">
        <img src="assets/images/dad-daughter3.png" alt="Card image cap"/>
        <figcaption>Many Many happy returns of the day</figcaption>
      </figure>
      <div style="animation: var(--animation-blink);">Have a wonderful days ahead</div>
    </div>
    <div class="d-flex align-items-center flex-column">
      <figure class="loaded-left blob-radius1 loaded-left">
        <img src="assets/images/dad-daughter2.png" alt="Card image cap"/>
        <figcaption>Tum jio hazzaro saal ye meri arzu</figcaption>
      </figure>
      <div style="animation: var(--animation-blink);">Happy happy birthday to you</div>
    </div>
  </div>
