/* You can add global styles to this file, and also import other style files */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@import "coder-media-queries";



html {
  background: white;
  color: var(--gray-8);
}

@media (--OSdark) {
  html {
    background: var(--gray-9);
    color: var(--gray-1);
  }
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.01);
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
