<div class="d-flex flex-column bd-highlight mb-3" id="outer-div">
  <div class="p-2 bd-highlight">
    <ol>
        <li>
          <div class="accordion">
          <a routerLink="#" class="accordion-toggle">Introduction of Python</a>
          <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
        </div>
        </li>

        <li>
          <div class="accordion">
          <a routerLink="#" class="accordion-toggle">Installing Python IDES</a>
          <div class="accordion-content">
            <div class="accordion-inner">
              <p>Installing Python.</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
        </div>
        </li>

        <li>
          <div class="accordion">
          <a routerLink="#" class="accordion-toggle">Data-types in Python</a>
          <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
        </div>
        </li>

        <li>
          <div class="accordion">
          <a routerLink="#" class="accordion-toggle">Variables in Python: Declaration and Use</a>
          <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
        </div>
        </li>

        <li>
          <div class="accordion">
          <a routerLink="#" class="accordion-toggle">Typecasting in Python</a>
          <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
        </div>
        </li>
        <li>
          <div class="accordion">
            <a routerLink="#" class="accordion-toggle">Operators in Python: Assignment, Logical, Arithmetic</a>
            <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
          </div>
        </li>
        <li>
          <div class="accordion">
            <a routerLink="#" class="accordion-toggle">Taking User Input</a>
            <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
          </div>
        </li>
        <li>
          <div class="accordion">
            <a routerLink="#" class="accordion-toggle">Conditional Statements: If else and Nested, If else and elif</a>
            <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
          </div>
        </li>
        <li>
          <div class="accordion">
            <a routerLink="#" class="accordion-toggle">Loops in Python: For Loop, While Loop and Nested Loops</a>
            <div class="accordion-content">
            <div class="accordion-inner">
              <p>For animate the "height" of element with CSS Transitions you need use "max-height".</p>
              <p>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</p>
            </div>
          </div>
          </div>
        </li>




    </ol>
  </div>

  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div>
</div>
