<div class="text-light text-center bg-dark"><h3><b>Python Data Types</b></h3></div>
<div class="p-2">
    <h3><b>Built Data Types</b></h3>
    In programming, data type is an important concept.
    <br>
    <br>
    Variables can store data of different types, and different types can do different things.
    <br>
    <br>
    Python has the following data types built-in by default, in these categories:
    <br>
    <br>
   <table class="table">
    <tbody>
        <tr>Text Types
            <td class="data-type">str</td>
        </tr>
        <tr>Numeric Types
            <td class="data-type">int, float, complex</td>
        </tr>
        <tr>Sequence Types
            <td class="data-type">list, tuple, range</td>
        </tr>
        <tr>Mapping Types
            <td class="data-type">dict</td>
        </tr>
        <tr>Set Types
            <td class="data-type">set, frozenset</td>
        </tr>
        <tr>Boolen Types
            <td class="data-type">bool</td>
        </tr>
        <tr>Binary Types
            <td class="data-type">bytes, bytearray, memoryview</td>
        </tr>
        <tr>None Types
            <td class="data-type">NoneType</td>
        </tr>
    </tbody>
   </table>
</div>
<div class="p-2">
    <h3><b>Getting the Data Type</b></h3>
    You can get the data type of any object by using the <mark>type()</mark> function:
    <br>
    <br>
    Example:
    <br>
    Print the data type of the variable x:
    <br>
    x = 5
    <br>
    print( type ( x ) )
</div>
